body {
    font-family: "Lato", sans-serif;
    background-color: #D3D3D3;
}
.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #ff6347;
    overflow-x: hidden;
    padding-top: 10px;
}
.sidenav a,.dropdown-btn{
     padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 35px;
    color: #A9A9A9;
    display: block;
    border: none;
    background:#ff6347 ;
   text-align: center;
    width: 100%;
    
    cursor: pointer;
    outline: none;
}
.sidenav hr {
    color: white;   
}
.sidenav a:hover, .dropdown-btn:hover {
    color: grey;
}
.sidenav p {
    padding: 16px 18px 16px 16px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: block;
}
.main {
    margin-left: 260px; 
    font-size: 28px;    
}
.student{
  color: #ff6347;
}
.main h2{
  color:  #ff6347;
}
.main p{
  font-size: 20px;
}
.images{
  border-radius: 50%;
}
.student_text b{
  padding-left: 25px;
}
.student2_text b{
  padding-left: 40px;
}
.student3_text b{
  padding-left: 35px;
}
.student4_text b{
  padding-left: 35px;
  
}
.student5_text b{
  padding-left: 37px;
}
.column {
   float: left;
    width: 20%;   
    padding-left: 18px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
} 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #A9A9A9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: black;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color:#A9A9A9;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.dropdown-container {
    display: none;
    font-size: 20px;
    background-color: #ff6347;
    padding-left: 8px;
}
.dropdown-container a{
color: white;
font-size:20px;
}
.active {
    background-color: black;
    color: white;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 290px) {
  .prev, .next,.text {font-size: 11px}
}
.prof{
  background-color: #A9A9A9;
}
* {
    box-sizing: border-box;
}
.container {
    padding: 16px;
    background-color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;  
}
.copyright
{
font-size: 8pt;
text-align:right;
padding-bottom:2px;
color:grey;}
.registerbtn {
    background-color:#ff6347;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
.typewrite{
      text-decoration: none;
      color:#ff6347;
      text-align: center;
      padding-left: 560px;
}